version: 2.1
orbs:
  architect: giantswarm/architect@6.13.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          context: "architect"
          executor: "app-build-suite"
          name: "package and push kube-vip-cloud-provider-app chart"
          app_catalog: "default-catalog"
          app_catalog_test: "default-test-catalog"
          chart: "kube-vip-cloud-provider"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
